

<div class="modal fade neta-modal visible-sm-block hidden-sm"    [style.pointer-events]="disablePopup||null"
  id="welcome-back">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header bb0 pb0 pt30">
          <h5 class="modal-title font-reg mb20">Your Constituency
              <span >Select your constituency</span>

          </h5>
         

          <!-- <a class="close" data-dismiss="modal">&times;</a> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <!-- <div class="cir-img-outer ">
                  <img src="assets/images/amit-shah.jpg" />
                </div> -->
                <!-- <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" placeholder="Name" class="form-control" id="name">
                </div> -->

                <div class="form-group">
                  <label for="name">Your Location</label>
                  <button type="button" class="btn light-btn " (click)="getLocation()">
                    <!-- <small-loader *ngIf="loading"></small-loader> -->
                    <div class="loader-outer" *ngIf="loading">
                    <div class="btn-loader"></div>
                    </div>
                    <i class="material-icons">location_searching</i> Detect my Location</button>

                </div>
                <div class="border-outer">
                  <hr>
                  <span>Or</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col pb10">
                <div class="field-title">State</div>
                <select #state class="form-control demo-default select-beast" placeholder="State"  name="state" 
                (change)="onChangeState(state.value)">
                  <!-- <option  [value]="s_state.id" *ngIf="s_state">{{s_state.name}}</option> -->
                  <!-- <option *ngFor="let state of states" #s="state.name" ngModel name="state">{{state.name}}</option> -->
                  <option value="" hidden>Select State</option>
                  <option *ngFor="let s of states" [value]="s.id" [selected]="s.name == selectedState">{{s.name}}</option>
                </select>
              </div>
            </div>
            <div class="row pt5">
              <div class="col">
                <div class="field-title">District</div>

                <select #district class="form-control demo-default select-beast" (change)="onChangeParliament(district.value)"
                  name="parliamenttt" placeholder="Select ">
                  <option value="" hidden>Select District</option>
                  <option *ngFor=" let p of parliament" [value]="p.id" [selected]="p.isSelected">{{p.name}}</option>
                </select>
              </div>
              <div class="col">
                <div class="field-title">Constituency</div>
                <select #constituency class="demo-default select-beast"  (change)=" onChangeAssembly(constituency.value)" name="asmbly">
                  <option value="" hidden>Select Constituency</option>
                  <option *ngFor="let a of assemblies" [value]="a.id" [selected]="a.name === selectedCons">{{a.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn green-btn active" data-dismiss="modal" (click)="onNext()">Next</button>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>