<div class="candidate-block popular-candidate">
  <h3 *ngIf="!loading && datacomming" >Popular Candidates</h3>

  <ul class="candidate-list">
    <div class="loader-sidebar"  *ngIf="loading"><loader></loader></div>
    <li *ngFor="let pc of p_candidates;">
      <span class="candidate-pic">
        <span class="candidate-party">
          <img src="{{ cUrl + pc.party_image?.cloudinary.public_id + '.jpg' }}" class="imageStyle">
        </span>
        <img (click)="onProfileView(pc.candidate_id,pc.candidate_name)"  class="emptyAnchor" src="{{ cUrl + pc.candidate_profile_pic?.cloudinary.public_id + '.jpg' }}" class="imageStyle">
      </span>
      <div class="candidate-info">
        <h6 class="candidate-party-name">{{pc.party_abbreviation}}</h6>
        <h4 (click)="onProfileView(pc.candidate_id,pc.candidate_name)" class="emptyAnchor">{{pc.candidate_name}}</h4>
      </div>
      <button class="btn vote-btn">{{pc.votes}} Votes</button>
    </li>

  </ul>
  <div class="more-news">
    <!-- <a href="javascript:void(0)" class="more-det">See ALL
      <i class="fas fa-chevron-right"></i>
    </a> -->
  </div>
</div>
<div class="candidate-block Influencers-candidate">
  <h3 *ngIf="!loading && datacomming"  >Popular Influencers</h3>
  <ul class="candidate-list">
    <li *ngFor="let pi of topSixInfluencers; let i = index" >

      <span class="candidate-pic" >
        <span class="candidate-party">
          <img src="assets/images/congress.png" alt="congress.png" />
        </span>
        <img src="{{ pi.influencer_profile_pic?.cloudinary.public_id?cUrl + pi.influencer_profile_pic?.cloudinary.public_id + '.jpg':'assets/images/user.png'}}" class="imageStyle">
      </span>
      <div class="candidate-info" >
        <h6 class="candidate-party-name">INC</h6>
        <h4 (click)="onProfileViewInfluencer()" class="emptyAnchor">{{pi.influencer_name}}</h4>
      </div>
      <button class="btn vote-btn slected">{{pi.score}} {{'(#'+pi.rank+')'}}</button>
    </li>
  </ul>
  <div class="more-news">
    <!-- <a href="javascript:void(0)" class="more-det">See ALL
      <i class="fas fa-chevron-right"></i>
    </a> -->
  </div>
</div>
