<section class="citizens citizens1 citizens2">

    <div class="container main-container">
        <div class="row custom-row">
            <div class="co-md-9 col-lg-9 col-xs-12 col-sm-12">
                <div class="tab-content card tab-content-section">

                    <div class="row">
                        <div class="col-md-12">

                            <h1 class="main-heading">Senior Citizens
                                <div class="sort-option">
                                    <ul>
                                        <li>
                                            <a class="emptyAnchor" onclick="return false" [class.active]="isActiveScore" (click)="sortByScores()" >By Score</a>
                                        </li>
                                        <li>
                                            <a class="emptyAnchor" onclick="return false" [class.active]="isActiveName" (click)="sortByName()">By name</a>
                                        </li>
                                    </ul>
                                    <span class="sort">
                                        <i class="material-icons">sort</i>Sort -</span>
                                </div>
                            </h1>
                        </div>
                    </div>
                    <ul class="candidate-list candidate-block">

                        <li *ngFor="let citizen of citizens;index as i">
                            <div class="citizen-rank">#{{i+1}}</div>
                            <span class="candidate-pic">
                                <img src="{{cloudNaryUrl+citizen.influencer_profile_pic.cloudinary.public_id}}.jpg" alt="candidate.png">
                            </span>
                            <div class="candidate-info v2">
                                <!-- <h6 class="candidate-party-city">{{citizen.constituency}}</h6> -->
                                <h4>{{citizen.influencer_name}}</h4>
                            </div>
                            <div class="voste-stat v2">
                                <div class="my-score">
                                    <span>
                                        <i class="material-icons">star</i>Score</span>
                                    {{citizen.score}}
                                </div>
                            </div>
                            <div class="done-vote other-vote v2">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </div>
                        </li>

                        <!-- <li>
                            <div class="citizen-rank">#2</div>
                            <span class="candidate-pic">
                                <img src="assets/images/candidate1.png" alt="candidate.png">
                            </span>
                            <div class="candidate-info v2">
                                <h6 class="candidate-party-city">Model Town</h6>
                                <h4>Rahul Gandhi</h4>

                            </div>
                            <div class="voste-stat v2">
                                <div class="my-score">
                                    <span>
                                        <i class="material-icons">star</i>Score</span>
                                    40,001
                                </div>
                            </div>
                            <div class="done-vote other-vote v2">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </div>
                        </li>

                        <li>
                            <div class="citizen-rank">#3</div>
                            <span class="candidate-pic">
                                <img src="assets/images/candidate1.png" alt="candidate.png">
                            </span>
                            <div class="candidate-info v2">
                                <h6 class="candidate-party-city">Model Town</h6>
                                <h4>Rahul Gandhi</h4>

                            </div>
                            <div class="voste-stat v2">
                                <div class="my-score">
                                    <span>
                                        <i class="material-icons">star</i>Score</span>
                                    40,001
                                </div>
                            </div>
                            <div class="done-vote other-vote v2">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </div>
                        </li>

                        <li>
                            <div class="citizen-rank">#4</div>
                            <span class="candidate-pic">
                                <img src="assets/images/candidate1.png" alt="candidate.png">
                            </span>
                            <div class="candidate-info v2">
                                <h6 class="candidate-party-city">Model Town</h6>
                                <h4>Rahul Gandhi</h4>

                            </div>
                            <div class="voste-stat v2">
                                <div class="my-score">
                                    <span>
                                        <i class="material-icons">star</i>Score</span>
                                    40,001
                                </div>
                            </div>
                            <div class="done-vote other-vote v2">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </div>
                        </li>


                        <li>
                            <div class="citizen-rank">#5</div>
                            <span class="candidate-pic">
                                <img src="assets/images/candidate1.png" alt="candidate.png">
                            </span>
                            <div class="candidate-info v2">
                                <h6 class="candidate-party-city">Model Town</h6>
                                <h4>Rahul Gandhi
                                    <span class="up-icons">
                                        <i class="fas fa-arrow-up"></i>4</span>
                                </h4>

                            </div>
                            <div class="voste-stat v2">
                                <div class="my-score">
                                    <span>
                                        <i class="material-icons">star</i>Score</span>
                                    40,001
                                </div>
                            </div>
                            <div class="done-vote other-vote v2">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </div>
                        </li> -->

                    </ul>




                </div>
            </div>
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                <aside role="slidebar">
                    <div class="profile-block">
                        <span class="cross">
                            <i class="material-icons">clear</i>
                        </span>
                        <div class="profile-block-body">
                            <div class="user-img">
                                <img src="assets/images/user.png" alt="user" />
                            </div>
                            <div class="user-content">
                                <h4>Hey Joan!</h4>
                                <div class="voste-stat">
                                    <div class="my-score">
                                        <span>
                                            <i class="material-icons">star</i>Score</span>
                                        40,001
                                    </div>
                                    <h6>
                                        <span class="my-rank">
                                            <i class="material-icons">equalizer</i> Rank</span>
                                        <span class="up-icons">4
                                            <i class="fas fa-arrow-up"></i>
                                        </span>
                                        <span class="my-rank-val">#2</span>
                                    </h6>

                                </div>

                            </div>
                        </div>
                        <div class="profile-block-footer">
                            <a href="javascript:void(0)" class="more-det">SCORE LOG
                                <i class="fas fa-chevron-right"></i>
                            </a>

                        </div>

                    </div>
                    <div class="profile-block mrbtm0 be-citi">
                        <span class="cross">
                            <i class="material-icons">clear</i>
                        </span>
                        <div class="profile-block-body">
                            <div class="user-img pull-right">
                                <img src="assets/images/citi.png" alt="user" />
                            </div>
                            <div class="user-content">
                                <h4>Become a Star Citizen Today</h4>
                                <p>I have hinted that I would often jerk poor Queequeg from bet</p>

                            </div>
                        </div>
                        <div class="profile-block-footer">
                            <a href="javascript:void(0)" class="more-det"> LEARN MORE
                                <i class="fas fa-chevron-right"></i>
                            </a>

                        </div>

                    </div>

                    <sidebar></sidebar>
                </aside>
            </div>
            <!--/.Panel 3-->
        </div>
    </div>
</section>
