
<section class="cover-pic" style="background-image:url('assets/images/bg.png')"></section>  
<section>
    <div class="upper-tab-section inner-tab">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="leader-profile-pic">
                        <!-- <img src="assets/images/leader.png" alt="leader" /> -->
                        <img src="{{cloudNaryUrl+info.profile_pic.cloudinary.public_id}}.jpg" style="height:100%;width:100%;" alt="leader"/>                         
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9">
                    <ul class="nav nav-tabs nav-justified profile-tab">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.about" data-toggle="tab" role="tab"  href="" (click)="switchTab('about')">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.activity" data-toggle="tab" role="tab"  href=""(click)="switchTab('activity')">Activity</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.my_issues" data-toggle="tab" role="tab"  href="" (click)="switchTab('my_issues')">My Issues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.score_log" data-toggle="tab" role="tab" href="" (click)="switchTab('score_log')">Score Log</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    
    <div class="container main-container">
        <div class="row custom-row">
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div class="left-sidebar">
                    <div class="info-side-block">
                        <h3>{{ party_info.candidature.candidate_name }}
                            <span *ngIf="info.label" class="new-badges" >{{info.label.name}}</span>
                        </h3>
                        <ul>
                            <li>
                                <span class="lead-info-icons noborder">
                                    <!-- <img src=" alt="" /> -->
                             <img src="{{cloudNaryUrl + party_info.party_profile_pic.cloudinary.public_id }}.jpg" style="height:auto;width:100%;"/>
                                </span>{{party_info.party_name}}</li>
                            <li>
                                <span class="lead-info-icons">
                                    <i class="fas fa-map-marker"></i>
                                </span>{{party_info.candidature.constituency_name}}</li>
                            <li>
                                <span class="lead-info-icons">
                                    <i class="fas fa-briefcase"></i>
                                </span>Finance Minister of Punjab</li>
                        </ul>
                        <div class="stat-data" >
                            <div class="voste-stat" *ngIf="!isVoted">
                                <span>
                                    <img src="assets/images/vote1.png">VOTES</span>
                                    <h6>{{party_info.candidate_vote_count}}
                                        <span>({{party_info.vote_percentage|number:'1.2-2'}}%)</span>
                                        <span class="up-icons">
                                                <i class="fas fa-arrow-up"></i>
                                            </span></h6>
                                   
                                   
                            </div>
                            <div class="after-vote" *ngIf="isVoted">
                                <div class="stat-data">
                                        <div class="voste-stat">
                                            <span> <i class="material-icons">star</i>Score</span>
                                            <h6>{{party_info.candidate_vote_count}}</h6>
        
        
                                        </div>
                                        <div class="voste-stat rank">
                                            <span><i class="material-icons">equalizer</i> Rank</span>
                                            <h6><span>4</span>
                                                <span class="up-icons">
                                                    <i class="fas fa-arrow-up"></i>
                                                </span>#2 </h6>
                                        </div>
                                    </div>
                        </div>
                        </div>
                        <button type="button" *ngIf="!isVoted" class="btn issue-btn" (click)="onVoted()">Vote Now</button>
                    </div>

                    <contact-info [ContactInfo]="contact_info"></contact-info> <!--passed contact info to contact-info component -->
                
                </div>
            </div>
            <div class="co-md-6 col-lg-6 col-xs-12 col-sm-12">
                

                <div class="tab-content card tab-content-section">
                    <!--.Panel 1-->

                    <!-- card -->
                    <!--<div class="profile-block mrbtm0 be-citi">
                        <span class="cross">
                            <i class="material-icons">clear</i>
                        </span>
                        <div class="profile-block-body">
                         
                            <div class="user-content">
                                <h4>Become a Star Citizen Today</h4>
                                <p>I have hinted that I would often jerk poor Queequeg from bet</p>
                                
                            </div>
                            <div class="user-img pull-right">
                                    <img src="images/citi2.png" alt="user">
                                </div>
                        </div>
                        <div class="profile-block-footer">
                            <a href="javascript:void(0)" class="more-det"> LEARN MORE
                                <i class="fas fa-chevron-right"></i>
                            </a>

                        </div>

                    </div>-->

                    <!-- <<<<<< -->
                    <loader *ngIf="loading"></loader>
                    <div class="tab-pane fade in show active" *ngIf="tab.about && info" [class.active]="tab.about" role="tabpanel">
                      <about [Info]="info"></about>
                    </div>
                    <!--/.Panel 1-->
                    <!--.Panel 2-->
                    <div class="tab-pane fade in show active" *ngIf="tab.activity" [class.active]="tab.activity" role="tabpanel">
                                
                        <activity></activity>

                    </div>
                    <!-- panel 2 -->
                    <!-- panel 3 -->
                    <div class="tab-pane fade in show active" *ngIf="tab.my_issues" [class.active]="tab.my_issues" role="tabpanel">
                      <my-issues></my-issues>

                    </div>
                    <!--/.Panel 3-->
                    <!--Panel 4-->
                    <div class="tab-pane fade" *ngIf="tab.score_log" [class.active]="tab.score_log" role="tabpanel">
                        <score-log></score-log>
                    </div>
                    <!-- panel -->
                </div>
            </div>
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                    <aside role="slidebar">
                            <div class="profile-block">
                                <span class="cross">
                                    <i class="material-icons">clear</i>
                                </span>
                                <div class="profile-block-body">
                                    <div class="user-img">
                                        <img src="assets/images/user.png" alt="user" />
                                    </div>
                                    <div class="user-content">
                                        <h4>Hey Joan!</h4>
                                        <p>Complete your Profile</p>
                                        <span class="progress-report">20%</span>
                                        <div class="progress-bar">
                                            <span class="progress"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-block-footer">
                                    <a href="javascript:void(0)" class="more-det"> GO TO PROFILE
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                        
                                </div>
                        
                            </div>
                           <sidebar></sidebar>
                        </aside>
            </div>
        </div>
        <!--/.Panel 3-->
    </div>
</section>
