<section class="cover-pic" style="background-image:url('assets/images/bg.png')">  <div class="loader-profile" *ngIf="loading" ><loader ></loader></div></section>
<section>
    <div class="upper-tab-section inner-tab">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="leader-profile-pic">
                        <!-- <img src="assets/images/leader.png" alt="leader" /> -->
                        <img src="{{cloudNaryUrl+info.profile_pic.cloudinary.public_id}}.jpg"  alt="leader"/>                         
                    </div>
                     <!-- mobile view -->
                    <div class="hide rs-show rs-profile-view">
                        <h3 >{{ party_info.candidature.candidate_name }}</h3>
                        <span><i class="material-icons">place</i> {{party_info.candidature.constituency_name}}</span>
                    </div>        
                         <!-- mobile view end-->
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 rs-np">
                    <ul class="nav nav-tabs nav-justified profile-tab">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.about" data-toggle="tab" role="tab"  href="" (click)="switchTab('about')">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.activity" data-toggle="tab" role="tab"  href=""(click)="switchTab('activity')">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.my_issues" data-toggle="tab" role="tab"  href="" (click)="switchTab('my_issues')">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="tab.score_log" data-toggle="tab" role="tab" href="" (click)="switchTab('score_log')">Manifesto</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    
    <div class="container main-container">
        <div class="row custom-row">
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12 rs-hide">
                <div class="left-sidebar">
                    <div class="info-side-block">
                        <h3>{{ party_info.candidature.candidate_name }}
                            <span *ngIf="info.label" class="new-badges" >{{info.label.name}}</span>
                        </h3>
                        <ul>
                            <li>
                                <span class="lead-info-icons noborder">
                                    <!-- <img src=" alt="" /> -->
                             <img src="{{cloudNaryUrl + party_info.party_profile_pic.cloudinary.public_id }}.jpg" style="height:auto;width:100%;object-fit: cover;"/>
                                </span>{{party_info.party_name}}</li>
                            <li>
                                <span class="lead-info-icons">
                                    <i class="fas fa-map-marker"></i>
                                </span>{{party_info.candidature.constituency_name}}</li>
                            <li>
                                <span class="lead-info-icons">
                                    <i class="fas fa-briefcase"></i>
                                </span>Finance Minister of Punjab</li>
                        </ul>
                        <div class="stat-data" >
                            <div class="voste-stat" >
                                <span>
                                    <img src="assets/images/vote1.png">VOTES</span>
                                    <h6>{{party_info.candidate_vote_count}}
                                        <span>({{party_info.vote_percentage|number:'1.2-2'}}%)</span>
                                        <span class="up-icons">
                                                <i class="fas fa-arrow-up"></i>
                                            </span></h6>
                                   
                                   
                            </div>
                            <div class="after-vote" *ngIf="isVoted">
                               
                        </div>
                        </div>
                        <button type="button" *ngIf="!isVoted" class="btn issue-btn" (click)="onVoted()">Vote Now</button>
                    </div>

                    <contact-info [ContactInfo]="contact_info"></contact-info> <!--passed contact info to contact-info component -->
                
                </div>
            </div>
            <div class="co-md-6 col-lg-6 col-xs-12 col-sm-12">
                

                <div class="tab-content card tab-content-section">
                    <!--.Panel 1-->

                    <!-- card -->
                    <!--<div class="profile-block mrbtm0 be-citi">
                        <span class="cross">
                            <i class="material-icons">clear</i>
                        </span>
                        <div class="profile-block-body">
                         
                            <div class="user-content">
                                <h4>Become a Star Citizen Today</h4>
                                <p>I have hinted that I would often jerk poor Queequeg from bet</p>
                                
                            </div>
                            <div class="user-img pull-right">
                                    <img src="images/citi2.png" alt="user">
                                </div>
                        </div>
                        <div class="profile-block-footer">
                            <a href="javascript:void(0)" class="more-det"> LEARN MORE
                                <i class="fas fa-chevron-right"></i>
                            </a>

                        </div>

                    </div>-->

                    <!-- <<<<<< -->
                    <!-- <loader *ngIf="loading"></loader> -->
                    <div class="tab-pane fade in show active" *ngIf="tab.about && info" [class.active]="tab.about" role="tabpanel">
                      <about [Info]="info"></about>
                    </div>
                    <!--/.Panel 1-->
                    <!--.Panel 2-->
                    <div class="tab-pane fade in show active" *ngIf="tab.activity" [class.active]="tab.activity" role="tabpanel">
                                
                        
                        <h6>The leader not joined the Neta app yet.You can contact him to join by contacting the leader </h6>




                    </div>
                    <!-- panel 2 -->
                    <!-- panel 3 -->
                    <div class="tab-pane fade in show active" *ngIf="tab.my_issues" [class.active]="tab.my_issues" role="tabpanel">
                        <table class="table table-hover table-striped table-sm">
                            <thead>
                            <tr><th>YEAR</th><th>CONSTITUENCY</th><th>ELECTION</th><th>PARTY</th><th>RANK</th></tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let lh of leader_history">
                                <td>{{lh.year}}</td>
                                <td>{{lh.constituency}}</td>
                                <td>{{lh.election}}</td>
                                <td>{{lh.party_abbreviation}}</td>
                                <td>{{lh.result}}</td>
                            </tr>
                             
                        </tbody>
                        </table>

                    </div>
                    <!--/.Panel 3-->
                    <!--Panel 4-->
                    <div class="tab-pane fade in show active" *ngIf="tab.score_log" [class.active]="tab.score_log" role="tabpanel">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                            to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <!-- panel -->
                </div>
            </div>
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                    <aside role="slidebar">
                            <div class="profile-block">
                                <span class="cross">
                                    <i class="material-icons">clear</i>
                                </span>
                                <div class="profile-block-body">
                                    <div class="user-img">
                                        <img src="assets/images/user.png" alt="user" />
                                    </div>
                                    <div class="user-content">
                                        <h4>Hey Joan!</h4>
                                        <p>Complete your Profile</p>
                                        <span class="progress-report">20%</span>
                                        <div class="progress-bar">
                                            <span class="progress"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-block-footer">
                                    <a href="javascript:void(0)" class="more-det"> GO TO PROFILE
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                        
                                </div>
                        
                            </div>
                           <sidebar></sidebar>
                        </aside>
            </div>
        </div>
        <!--/.Panel 3-->
    </div>
</section>
